#mainWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#uiControls{
    width: 250px;
    padding-top: 30px;
    padding-left: 25px;
    float: right;
    display: inline-block;
}

#2dDesigner{
    display: inline-block;
}
#svgExporter{
    display: none;
}

canvas {
    width:900px;
    height: 600px;
}