body {
    font-family: Helvetica, Sans-Serif;
    font-size: 15pt;
    color: #333;
    font-weight:300;
}

#mainWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#3dRenderer {
    padding: 10px 0;
}

svg {
    padding: 10px 0;
}

#uiControls{
    width: 900px;
    font-size: 12pt;
}

.uiControlsSub {
    width: 450px;
    float: left;
    display: inline-block;
}

button {
    padding:10px 15px;
    background-color: #eee;
}

.right {
    float:right;
    display: inline-block;
}

a {
    color: #42ece2;
    text-decoration: none;
}

a:hover {
    color:#42ece2;
}


#2dDesigner{
    display: inline-block;
}
#svgExporter{
    /*display: none;*/
}

canvas {
    width:900px;
    height: 600px;
}

.slider {
    margin:10px 0;
}

.ui-slider-handle {
    outline: 0 none !important;
}

.ui-state-hover {
    background: #f6f6f6 !important;
    border-color: #ccc !important;
}

.ui-state-focus {
    background: #f6f6f6 !important;
    border-color: #ccc !important;
}